<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457683112054-7ih8ep6q9ivqfnpicvtho45h3liqpf0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457683112054-7ih8ep6q9ivqfnpicvtho45h3liqpf0h</string>
	<key>API_KEY</key>
	<string>AIzaSyD2krYh5RrTOSygT9926ROReHx29s4ReTY</string>
	<key>GCM_SENDER_ID</key>
	<string>457683112054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireabaseCli</string>
	<key>PROJECT_ID</key>
	<string>fir-cli-d1942</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-cli-d1942.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457683112054:ios:3a45f6d2a02758c8d80f57</string>
</dict>
</plist>